body
{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
.header-1,.header-2,.wrapper-content{
    width: 1200px;
    margin: 0 auto;
}
.header-1,.header-2,.slide-item,.fastest,.fastest .wrapper-content
{
    display: table;
}
.header-1 .wrapper-content
{
    float: right;
}
.header-1 .wrapper-content .menu .item
{
    display: inline;

}
.header-1 .wrapper-content .menu ,.header-1 .wrapper-content .phone,.header-1 .wrapper-content .search, header-1 .wrapper-content .cart
{
    float: left;
    margin-right: 10px;
}
.header-2
{
    margin-top: 20px;
}
.header-2 .wrapper-content-left{
    float: left;
}
.header-2 .wrapper-content-right{
    float: right;
}
.header-2 .wrapper-content-right .menu .item
{
    display: inline;
}
.header-2 .wrapper-content-right .menu > .item > a{
    text-transform: uppercase;
    padding: 20px;
    margin-right: 1px;
    color: #08c;
    font-weight: bold;
    line-height: 40px ;
    text-decoration: none;
}
.header-2 .wrapper-content-right .menu > .item >a:hover,.header-2 .wrapper-content-right .menu > .item.active > a
{
    color: #fff;
    background: #08c;
    border-radius: 3px;


}
.header-2  .wrapper-content-right .menu,.header-2  .wrapper-content-right .social
{
    float: left;
    margin-right: 10px;
}
.header-2  .wrapper-content-right .social
{
    font-size: 30px;
    line-height: 40px;
}
.header-2  .wrapper-content-right .social > i{
    margin-right: 5px;
    border-radius: 38px;
    border: 1px solid #fff;
    padding: 10px;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

}
.header-2  .wrapper-content-right .social > i:hover{
    background: #08c;
    color: #fff;
    cursor: pointer;
}
.slide-show .owl-carousel .slide-item{
    height: 600px;
    width: 100%;
    text-align: center;
}
.slide-show .owl-carousel .slide-item-1
{
    background: url("../images/slide-show/1.jpg");
}
.slide-show .owl-carousel .slide-item-2
{
    background: url("../images/slide-show/2.jpg");
}
.fastest{
    background-color: #08c;
    width: 100%;
}
.fastest .wrapper-content .wrapper-content-left {
    float: left;
    color: #fff;
    padding: 30px 0;
}
.fastest .wrapper-content .wrapper-content-right
{
    float: right;
    color: #fff;
    padding: 40px 0;
}
.fastest .wrapper-content .wrapper-content-right .get-now
{
    background: #000;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #000;
}